<!DOCTYPE html>
<html>
  <head>
    <title>Example Layout</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'game.css')}}">
  </head>
  <body>
    <div id="container">
      <div id="image"></div>
	  <image id="picture" src = "{{url_for('Pictures', filename='flat_1.jpeg')}}"></image>
      <div id="text">
        <h1>Утро первого дня</h1>
        <p>Вы просыпаетесь в своей квартире, немного болит голова. Вокруг вас небольшая однокомнатная типичная хрущевка. Что станете делать?</p>
      </div>
      <div id="dialogue">
        <input type="text" value="Выпью воды" class="dialogue-field" readonly>
        <input type="text" value="Выпью чаю" class="dialogue-field" readonly>
        <input type="text" value="Выпью водки" class="dialogue-field" readonly>
        <input type="text" value="Сразу на работу" class="dialogue-field" readonly>
      </div>
    </div>
    <script src="{{url_for('static', filename = 'game.js')}}"></script>
  </body>
</html>