<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Minimalistic Website</title>
  <link rel="stylesheet" type="text/css" href="style5.css">
</head>
<body>
  <nav id="navbar">
    <a href="#section1">Начало</a>
    <a href="#section2">Заметки</a>
    <a href="#section3">Графики</a>
    <a href="#section4">Другое</a>
  </nav>
  <section id="section1" class = "visible_section">
    <h1>Начало</h1>
    <p>Вы в самом начале</p>
  </section>
  <section id="section2" class = "visible_section">
    <h1>Заметки</h1>
    <p>Здесь ссылки на все прогнозы:</p>
	<a id="link1" href = "https://telegra.ph/Tekushchie-prognozy-18092022-09-18"> Текущие прогнозы - Сентябрь </a> <br></br>
	<a href = "https://telegra.ph/Tekushchie-prognozy---25102022-vypusk-2-10-25"> Текущие прогнозы - Октябрь </a><br></br>
	<a href = "https://telegra.ph/O-padenii-legitimnosti-vsledstvie-mobilizacii---07112022-11-07"> О падении легитимности - Ноябрь </a><br></br>
	<a href = "https://telegra.ph/Kak-mozhet-razvivatsya-ehkonomicheskij-krizis-01-05"> Начало экономического кризиса - январь </a><br></br>
	<a href = "https://telegra.ph/Tekushchie-prognozy-13012022-Vypusk-4-01-13"> Текущие прогнозы - январь </a><br></br>
	<a href = https://telegra.ph/O-chatah-bezuslovnom-bazovom-dohode-i-socialnyh-tektonicheskih-sdvigah-02-18>О движении мировых финансов</a><br></br>
  </section>
  <section id="section3" class = "visible_section">
    <h1>Графики</h1>
    <p>Интересные графики и вычисления</p>
  </section>
  <section id="section4" class = "visible_section">
    <h1>Прочее</h1>
    <p>Эксперименты с сайтом и визуализацией</p>
	<a href = "portfolio.html">Модал</a> <br></br>
	<a href = "index6.html">Вводное поле и события</a><br></br>
	<a href = "maket1.html">Простой бизнес-дизайн</a>
  </section>
  <script src="script1.js"></script>
</body>
</html>
